* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333333;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
.container {
  max-width: 1200px; /* يمكنك تعديل العرض حسب رغبتك */
  margin: 0 auto; /* لتوسيط العنصر في الشاشة */
  padding-inline: 15px; /* مساحة أمان صغيرة من الجوانب للشاشات الصغيرة */
  width: 100%;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
